@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CrowdFundingProject.Models.Company
<form class="row mt-5 mb-2">
    @{


        <div>
            <img src="@Model.ImageLink" height="300" alt="@Model.Name" />
            <h2>@Model.Name</h2>
            <p>Category: @Model.Category.CategoryName</p>
            <div class="text-lg-left"> Long Description: @Model.LongDescription</div>
            <p>Money collected: @Model.MoneyNow from @Model.MoneyNeeded</p>
            <p>Date of start: @Model.CreationDate.ToShortDateString()</p>
            <p>Date of ending: @Model.EndDate.ToShortDateString()</p>
            <p>Owner: @Model.UserId</p>
            @if (User.Identity.Name == Model.UserId)
            {
                <div class="form-group">
                    <input type="hidden" value="@Model.CompanyId" name="companyId" asp-controller="CompanyNews" asp-action="Create" class="btn btn-outline-dark" />
                    <input type="submit" value="Publish news" name="publishNews" asp-controller="CompanyNews" asp-action="Create" class="btn btn-outline-dark" />
                </div>
            }
            <p>Want to support?</p>
            <div class="form-group">
                <input type="hidden" value="@Model.CompanyId" name="companyId" asp-controller="Payment" asp-action="MoneyTransfer" />
                <input type="submit" value="Yes" name="moneyTransfer" asp-controller="Payment" asp-action="MoneyTransfer" class="btn btn-outline-dark" />
            </div>
            @*<div class="form-group">
                <input type="hidden" value="@Model.CompanyId" name="companyId" asp-controller="Bonus" asp-action="Create" />
                <input type="submit" value="Add bonus" name="bonus" asp-controller="Create" asp-action="Create" class="btn btn-outline-dark" />
            </div>*@
        <p>Here you can follow company news:</p>
            <div class="form-group">
                <input type="hidden" value="@Model.CompanyId" name="companyId" asp-controller="CompanyNews" asp-action="Index" />
                <input type="submit" value="Company News" name="news" asp-controller="CompanyNews" asp-action="Index" class="btn btn-outline-dark" />
            </div>
        </div>       
    }
</form>
