@model IEnumerable<CrowdFundingProject.Models.Company>
@{
    ViewData["Title"] = "Home Page";
}



<h3>Hello!</h3>
@if (User.IsInRole("admin"))
{
    <a asp-controller="Roles" asp-action="Index">Управление пользователями</a>
}

<div class="row mt-5 mb-2">
    @{
        foreach (var comp in Model)
        {
            <form class="col-lg-4" style="border-width: 2px; border:medium">
                <img src="@comp.ImageLink" height="200" alt="@comp.Name" />
                <div class="form-group" style="margin-top:8px; ">
                    <input type="hidden" value="@comp.CompanyId" name="companyId" asp-controller="Company" asp-action="ThisCompany" />
                    <input type="submit" value="@comp.Name" name="companyName" asp-controller="Company" asp-action="ThisCompany" class="btn btn-outline-dark" />
                </div>
                <p>Short Description: @comp.ShortDescription</p>
            </form>
        }
    }
</div>
@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Company" asp-action="Create">Create new company.</a>
}
else
{
    <h3>Sign In to create your own Company.</h3>
}