@model (Сrowdfunding.Models.Reward, Сrowdfunding.Models.Campaign)
@{
}
<div>
    <div>
        @Model.Item1.Description
    </div>
    <div>
        Delivery: @Model.Item1.Delivery
    </div>
    <div>
        Remain: @Model.Item1.Count
    </div>
    <div>
        Price: @Model.Item1.Price
    </div>
    <form method="post" asp-controller="Home" asp-action="Support" asp-route-id="@Model.Item1.CampaignId">
        <input type="hidden" name="Price" value="@Model.Item1.Price" />
        <input type="hidden" name="RewardId" value="@Model.Item1.RewardId" />
        @if (Model.Item1.Count == 0 || Model.Item2.Ended)
        {
            <input type="submit" value="Buy" disabled/>
        }
        else
        {
            <input type="submit" value="Buy" />
        }
        
    </form>    
</div>